.booking-card {
  text-align: left;
}

/* .pending {
  background-color: #e0e0dd !important;
}

.confirmed {
  background-color: #c2f797 !important;
}

.await-payment {
  background-color: #f4b9ca !important;
} */
